<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src='./assets/smartcsm1200.png' />
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Total win Column -->
      <ng-container matColumnDef="totalLabel">
        <th mat-header-cell *matHeaderCellDef> Played / Won </th>
        <td mat-cell *matCellDef="let element"> {{element.totalLabel}}</td>
      </ng-container>

      <!-- Select Column-->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> <button mat-flat-button (click)="openDialog(element.id)"
            color="accent">Select</button></td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-card>
